@import "tailwindcss";

:root {
  --text: #232935;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: contain; /* 阻止页面退回 */
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ABB2BF;
    --text-h: #f9fafb;
    --bg: #1b1d23;
  }
}

.select {
  font-family: inherit;
  font-size: 13px;
  height: 26px;
  padding: 3px 28px 3px 12px;
  border-radius: 6px;
  border: 1px solid var(--select-border);
  background-color: var(--select-bg);
  color: var(--select-text);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='none'%3E%3Cpath stroke='%23868686' stroke-linecap='round' stroke-linejoin='round' d='m1 .5 3 3 3-3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.object-viewer {
  border: solid 1px #e7e8ef;
  border-radius: 4px;

  & + & {
    margin-top: 10px;
  }
}
